flows_linux.fritz.box.json
[{"id":"d5af85ef.f53ab8","type":"tab","label":"historicalWeatherDB","disabled":false,"info":""},{"id":"64acecee.fffbf4","type":"tab","label":"dashboardHomeTab","disabled":false,"info":""},{"id":"cd194594.e26c88","type":"tab","label":"dashboardRawDataTab","disabled":false,"info":""},{"id":"336e6743.1c5aa8","type":"tab","label":"dashboardCurrentTab","disabled":false,"info":""},{"id":"994e9296.324d2","type":"tab","label":"chartTest","disabled":true,"info":""},{"id":"cf49c5de.039b68","type":"subflow","name":"newInfluxdbEntry","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"92206d6d.03db6"}]}],"out":[{"x":560,"y":200,"wires":[{"id":"5774617b.f9c57","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d375a915.082728","type":"subflow","name":"contextSaveCities","info":"","category":"","in":[],"out":[{"x":700,"y":200,"wires":[{"id":"cf86f7c9.b81d68","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"386d0103.c88d1e","type":"subflow","name":"influxToChart","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"80b6a586.9529a8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"d150ab5e.416dd8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Historical Weather","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"73304315.bcac7c","type":"ui_tab","z":"","name":"Historical weather","icon":"insert_chart","order":1,"disabled":false,"hidden":false},{"id":"ac8a5a83.9671b8","type":"ui_group","z":"","name":"Charts","tab":"73304315.bcac7c","order":2,"disp":true,"width":"8","collapse":false},{"id":"ea532c3b.9c5f","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"weather_db","name":"","usetls":false,"tls":""},{"id":"ec4ab458.dc06e8","type":"ui_group","z":"","name":"Current weather","tab":"6b1d17df.698838","order":1,"disp":true,"width":"12","collapse":false},{"id":"c52bc0f0.321ba","type":"ui_group","z":"","name":"Raw data","tab":"d18b2b33.cf68a8","order":3,"disp":false,"width":"20","collapse":false},{"id":"6b1d17df.698838","type":"ui_tab","z":"","name":"Current weather","icon":"brightness_high","order":3,"disabled":false,"hidden":false},{"id":"dbd7cbe1.b19e38","type":"ui_spacer","name":"spacer","group":"ec4ab458.dc06e8","order":2,"width":2,"height":1},{"id":"4f55fafa.6cbf44","type":"ui_spacer","name":"spacer","group":"ec4ab458.dc06e8","order":4,"width":2,"height":1},{"id":"5af3a60c.abcdf8","type":"ui_group","z":"","name":"Chart test","tab":"73304315.bcac7c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d18b2b33.cf68a8","type":"ui_tab","z":"","name":"Raw data","icon":"grid_on","order":2,"disabled":false,"hidden":false},{"id":"2397638f.2c774c","type":"http request","z":"cf49c5de.039b68","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/weather?","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":120,"wires":[["829fa8cd.3ad088","5774617b.f9c57"]]},{"id":"829fa8cd.3ad088","type":"debug","z":"cf49c5de.039b68","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":80,"wires":[]},{"id":"bfa1283d.93c688","type":"inject","z":"d5af85ef.f53ab8","name":"query Denges","topic":"","payload":"{\"q\":\"denges\",\"appid\":\"7f4ac11ab23ea236c76e1ffb747bd0fa\",\"units\":\"metric\"}","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":"","x":140,"y":40,"wires":[["282d6694.d87caa"]]},{"id":"5774617b.f9c57","type":"function","z":"cf49c5de.039b68","name":"influxdbEntry","func":"\nmsg.payload = [\n  {\n    temp: msg.payload.main.temp,\n    tempFeel: msg.payload.main.feels_like,\n    humidity: msg.payload.main.humidity,\n    wind: msg.payload.wind.speed,\n    rain: msg.payload.rain ? msg.payload.rain['1h'] : 0,\n  },\n  { city: msg.city, weather: msg.payload.weather[0].description },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[[]]},{"id":"2bbc8054.3ec55","type":"influxdb out","z":"d5af85ef.f53ab8","influxdb":"ea532c3b.9c5f","name":"","measurement":"weather","precision":"","retentionPolicy":"","x":590,"y":100,"wires":[]},{"id":"92206d6d.03db6","type":"change","z":"cf49c5de.039b68","name":"","rules":[{"t":"set","p":"city","pt":"msg","to":"payload.q","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["2397638f.2c774c"]]},{"id":"558f2079.4321a","type":"inject","z":"d5af85ef.f53ab8","name":"query Krakow","topic":"","payload":"{\"q\":\"krakow\",\"appid\":\"7f4ac11ab23ea236c76e1ffb747bd0fa\",\"units\":\"metric\"}","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":"","x":140,"y":120,"wires":[["357bc3df.e0ba8c"]]},{"id":"29bc7f55.0353b","type":"inject","z":"d5af85ef.f53ab8","name":"query Lausanne","topic":"","payload":"{\"q\":\"lausanne\",\"appid\":\"7f4ac11ab23ea236c76e1ffb747bd0fa\",\"units\":\"metric\"}","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":"","x":130,"y":80,"wires":[["f2ddd327.18b59"]]},{"id":"3f17c488.1872cc","type":"inject","z":"d5af85ef.f53ab8","name":"query Cali","topic":"","payload":"{\"q\":\"cali\",\"appid\":\"7f4ac11ab23ea236c76e1ffb747bd0fa\",\"units\":\"metric\"}","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":"","x":150,"y":160,"wires":[["e845905f.df816"]]},{"id":"282d6694.d87caa","type":"subflow:cf49c5de.039b68","z":"d5af85ef.f53ab8","name":"cityEntryHandler","env":[],"x":320,"y":40,"wires":[["2bbc8054.3ec55"]]},{"id":"f2ddd327.18b59","type":"subflow:cf49c5de.039b68","z":"d5af85ef.f53ab8","name":"cityEntryHandler","env":[],"x":320,"y":80,"wires":[["2bbc8054.3ec55"]]},{"id":"357bc3df.e0ba8c","type":"subflow:cf49c5de.039b68","z":"d5af85ef.f53ab8","name":"cityEntryHandler","env":[],"x":320,"y":120,"wires":[["2bbc8054.3ec55"]]},{"id":"e845905f.df816","type":"subflow:cf49c5de.039b68","z":"d5af85ef.f53ab8","name":"cityEntryHandler","env":[],"x":320,"y":160,"wires":[["2bbc8054.3ec55"]]},{"id":"7c400db.396ecf4","type":"comment","z":"d5af85ef.f53ab8","name":"Logging to InfluxDB for 4 cities","info":"Writing weather data for four cities in an InfluxDB database called weather_db","x":380,"y":220,"wires":[]},{"id":"9fea8f86.7bf5d","type":"influxdb in","z":"64acecee.fffbf4","influxdb":"ea532c3b.9c5f","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":440,"y":300,"wires":[["73c00dbf.58a764","9b75d8e1.e59738","3f3c333c.c95cbc"]]},{"id":"c0e13b6.afafdc8","type":"ui_dropdown","z":"64acecee.fffbf4","name":"","label":"Time scale","tooltip":"","place":"Select option","group":"ac8a5a83.9671b8","order":1,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"1 hour","value":"1h","type":"str"},{"label":"10 hours","value":"10h","type":"str"},{"label":"1 day","value":"1d","type":"str"},{"label":"1 week","value":"7d","type":"str"},{"label":"4 weeks","value":"28d","type":"str"},{"label":"10 weeks","value":"140d","type":"str"}],"payload":"","topic":"","x":130,"y":240,"wires":[["5e473ed1.204b3"]]},{"id":"a0a87bcb.9e1e28","type":"function","z":"64acecee.fffbf4","name":"influxQuery","func":"msg.chart = `*`;\n\nlet showCities = flow.get('query.showCities');\nlet timeSpan = flow.get('query.timeSpan');\n\n// adding time aggregate feature\nlet timeAggregate = '';\n// \n// if (timeSpan !== '1h') {\n//     msg.chart = 'mean(temp), mean(tempFeel), mean(rain), mean(humidity), mean(wind), mode(weather)';\n// }\n// \n// if (['7d', '28d', '140d'].includes(timeSpan)) {\n//     timeAggregate = ', time(1d)';\n// } else if (['10h', '1d'].includes(timeSpan)) {\n//     timeAggregate = ', time(1h)';\n// }\n\nmsg.citiesArray = [];\n\nfor (let key of Object.keys(showCities)) {\n    if (showCities[key]) {\n        msg.citiesArray.push(key);\n    }\n}\n\nmsg.citiesArray = msg.citiesArray.sort();\n\nlet queryCities = msg.citiesArray.join('|'); // regular expression in influx query\n\nmsg.query = `select ${msg.chart} from weather where time > now() - ${timeSpan} and city =~ /${queryCities}/ group by \"city\"${timeAggregate}`;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["9fea8f86.7bf5d","7169441b.1c071c"]]},{"id":"73c00dbf.58a764","type":"debug","z":"64acecee.fffbf4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":200,"wires":[]},{"id":"80b6a586.9529a8","type":"function","z":"386d0103.c88d1e","name":"formatChartData","func":"let chart = [{\n    \"series\": msg.citiesArray,\n    \"data\": [],\n    \"labels\": msg.citiesArray\n}];\n\nlet serie = [];\nlet previousCity = msg.payload[0].city;\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let entry = msg.payload[i];\n    if (entry.city === previousCity) {\n        let point = { \"x\": entry.time, \"y\": entry[msg.chart]};\n        serie.push(point);\n        if (i === msg.payload.length - 1) {\n            chart[0].data.push(serie);\n        }\n    } else {\n        chart[0].data.push(serie);\n        serie = [];\n        previousCity = entry.city;\n    }\n}\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["ca00bc54.c919a","1aa2bd2e.0cae73"]]},{"id":"7f688c73.19cc24","type":"ui_switch","z":"d375a915.082728","name":"Denges","label":"Denges","tooltip":"","group":"ac8a5a83.9671b8","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":80,"wires":[["da7f9075.439fb"]]},{"id":"9bf0ef42.49df","type":"ui_switch","z":"d375a915.082728","name":"Lausanne","label":"Lausanne","tooltip":"","group":"ac8a5a83.9671b8","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":120,"wires":[["d6ea3496.1c9178"]]},{"id":"25220343.d134dc","type":"ui_switch","z":"d375a915.082728","name":"Krakow","label":"Krakow","tooltip":"","group":"ac8a5a83.9671b8","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":160,"wires":[["8f0f1103.83f36"]]},{"id":"1f766744.2a31d9","type":"ui_switch","z":"d375a915.082728","name":"Cali","label":"Cali","tooltip":"","group":"ac8a5a83.9671b8","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":200,"wires":[["6f35466e.316908"]]},{"id":"5e473ed1.204b3","type":"change","z":"64acecee.fffbf4","name":"timeSpan","rules":[{"t":"set","p":"query.timeSpan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":300,"wires":[["a0a87bcb.9e1e28"]]},{"id":"c42dff18.a4259","type":"subflow:d375a915.082728","z":"64acecee.fffbf4","name":"saveCitiesSwitches","env":[],"x":130,"y":340,"wires":[["a0a87bcb.9e1e28"]]},{"id":"a4e29e68.63b56","type":"ui_text","z":"d375a915.082728","group":"ac8a5a83.9671b8","order":2,"width":0,"height":0,"name":"citiesToShow","label":"Cities to show:","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":40,"wires":[]},{"id":"a7716f51.14304","type":"change","z":"d375a915.082728","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["1f766744.2a31d9","7f688c73.19cc24","9bf0ef42.49df","25220343.d134dc"]]},{"id":"7169441b.1c071c","type":"debug","z":"64acecee.fffbf4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":390,"y":180,"wires":[]},{"id":"767bf186.047cf","type":"change","z":"64acecee.fffbf4","name":"set context defaults","rules":[{"t":"set","p":"query.showCities","pt":"flow","to":"{\"denges\":true,\"lausanne\":true,\"krakow\":true,\"cali\":true}","tot":"json"},{"t":"set","p":"query.timeSpan","pt":"flow","to":"1d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":80,"wires":[[]]},{"id":"cf86f7c9.b81d68","type":"gate","z":"d375a915.082728","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":650,"y":140,"wires":[[]]},{"id":"1d893d5a.202d23","type":"delay","z":"d375a915.082728","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":260,"wires":[["7a4b3fae.d0816"]]},{"id":"7a4b3fae.d0816","type":"function","z":"d375a915.082728","name":"openGate","func":"msg.topic = 'control';\nmsg.payload = 'open';\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["cf86f7c9.b81d68"]]},{"id":"2bc15d6c.6ecb02","type":"ui_ui_control","z":"64acecee.fffbf4","name":"","events":"connect","x":600,"y":80,"wires":[["767bf186.047cf"]]},{"id":"b814e9ec.994e38","type":"ui_ui_control","z":"d375a915.082728","name":"","events":"all","x":80,"y":220,"wires":[["1d893d5a.202d23","641e41ae.2900f"]]},{"id":"da7f9075.439fb","type":"function","z":"d375a915.082728","name":"showDenges","func":"flow.set(\"$parent.query.showCities.denges\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["cf86f7c9.b81d68"]]},{"id":"d6ea3496.1c9178","type":"function","z":"d375a915.082728","name":"showLausanne","func":"flow.set(\"$parent.query.showCities.lausanne\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["cf86f7c9.b81d68"]]},{"id":"8f0f1103.83f36","type":"function","z":"d375a915.082728","name":"showKrakow","func":"flow.set(\"$parent.query.showCities.krakow\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["cf86f7c9.b81d68"]]},{"id":"6f35466e.316908","type":"function","z":"d375a915.082728","name":"showCali","func":"flow.set(\"$parent.query.showCities.cali\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["cf86f7c9.b81d68"]]},{"id":"dfb5c1d5.9171a","type":"inject","z":"d375a915.082728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":360,"wires":[[]]},{"id":"dae1cc9c.b02dd","type":"inject","z":"d375a915.082728","name":"","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":590,"y":360,"wires":[[]]},{"id":"641e41ae.2900f","type":"delay","z":"d375a915.082728","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":180,"wires":[["a7716f51.14304"]]},{"id":"6fca88ba.d48df8","type":"comment","z":"64acecee.fffbf4","name":"The flow has two inputs","info":"1) the time span dropdown is handled\n\n2) the four switches to display the cities are handled\n","x":120,"y":120,"wires":[]},{"id":"d05b6c.6e75b498","type":"ui_ui_control","z":"64acecee.fffbf4","name":"","events":"all","x":100,"y":160,"wires":[["84da1678.cae8e8"]]},{"id":"84da1678.cae8e8","type":"change","z":"64acecee.fffbf4","name":"default dpdw","rules":[{"t":"set","p":"payload","pt":"msg","to":"1d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":200,"wires":[["c0e13b6.afafdc8"]]},{"id":"86210de.989cef","type":"comment","z":"64acecee.fffbf4","name":"Context variables initial values on connexion","info":"Every time a user connects to the dashboard, default values of context variables are set.\n","x":710,"y":40,"wires":[]},{"id":"46dca60c.7f2ca8","type":"function","z":"336e6743.1c5aa8","name":"influxQuery","func":"msg.city = flow.get('city');\n\nmsg.query = `select *, last(temp) from weather where city = '${msg.city}'`;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["1910d99f.640586","45d6ca95.1d0a04"]]},{"id":"1910d99f.640586","type":"influxdb in","z":"336e6743.1c5aa8","influxdb":"ea532c3b.9c5f","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":180,"y":440,"wires":[["7a65fe87.fdeae","c582bc3.8cc594","1b98eb10.0ca095","b33716ea.ed7cd8","14537b18.f07f05","70539656.18bb28","dbaf1cc7.18b08","531406ce.fd5ac8"]]},{"id":"d4cf4e8c.59409","type":"ui_dropdown","z":"336e6743.1c5aa8","name":"cities","label":"City","tooltip":"","place":"Select option","group":"ec4ab458.dc06e8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Cali","value":"cali","type":"str"},{"label":"Denges","value":"denges","type":"str"},{"label":"Lausanne","value":"lausanne","type":"str"},{"label":"Krakow","value":"krakow","type":"str"}],"payload":"","topic":"","x":110,"y":220,"wires":[["aa5e719b.690fa"]]},{"id":"aa5e719b.690fa","type":"change","z":"336e6743.1c5aa8","name":"set city","rules":[{"t":"set","p":"city","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":220,"wires":[["46dca60c.7f2ca8"]]},{"id":"b680353f.6337d8","type":"change","z":"336e6743.1c5aa8","name":"set dpdw defaults","rules":[{"t":"set","p":"payload","pt":"msg","to":"denges","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":160,"wires":[["d4cf4e8c.59409"]]},{"id":"e467f8d2.b9c628","type":"ui_ui_control","z":"336e6743.1c5aa8","name":"","events":"connect","x":80,"y":120,"wires":[["b680353f.6337d8"]]},{"id":"ecaaf97c.ad90b8","type":"comment","z":"336e6743.1c5aa8","name":"Context variables initial values on connexion","info":"Every time a user connects to the dashboard, default values of context variables are set.\n","x":190,"y":80,"wires":[]},{"id":"7a65fe87.fdeae","type":"debug","z":"336e6743.1c5aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":400,"wires":[]},{"id":"45d6ca95.1d0a04","type":"debug","z":"336e6743.1c5aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":610,"y":220,"wires":[]},{"id":"8fc8992.f491f68","type":"ui_gauge","z":"336e6743.1c5aa8","name":"","group":"ec4ab458.dc06e8","order":5,"width":4,"height":4,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-10","max":"40","colors":["#0a00ff","#ffffff","#d90000"],"seg1":"","seg2":"","x":610,"y":340,"wires":[]},{"id":"e9f03a67.aab478","type":"ui_gauge","z":"336e6743.1c5aa8","name":"","group":"ec4ab458.dc06e8","order":9,"width":4,"height":4,"gtype":"donut","title":"Humidity","label":"","format":"{{value}}%","min":"0","max":"100","colors":["#ffffff","#4ab1d0","#2e28b2"],"seg1":"","seg2":"","x":600,"y":420,"wires":[]},{"id":"c582bc3.8cc594","type":"function","z":"336e6743.1c5aa8","name":"temp","func":"msg.payload = msg.payload[0].temp;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["8fc8992.f491f68"]]},{"id":"b33716ea.ed7cd8","type":"function","z":"336e6743.1c5aa8","name":"humidity","func":"msg.payload = msg.payload[0].humidity;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["e9f03a67.aab478"]]},{"id":"3909a77d.7fde28","type":"ui_gauge","z":"336e6743.1c5aa8","name":"","group":"ec4ab458.dc06e8","order":6,"width":4,"height":4,"gtype":"gage","title":"Perceived temperature","label":"","format":"{{value}}°C","min":"-10","max":"40","colors":["#0a00ff","#ffffff","#d90000"],"seg1":"","seg2":"","x":640,"y":380,"wires":[]},{"id":"1b98eb10.0ca095","type":"function","z":"336e6743.1c5aa8","name":"tempFeel","func":"msg.payload = msg.payload[0].tempFeel;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["3909a77d.7fde28"]]},{"id":"e5ba9cd1.130d9","type":"ui_gauge","z":"336e6743.1c5aa8","name":"","group":"ec4ab458.dc06e8","order":7,"width":4,"height":4,"gtype":"gage","title":"Wind speed","label":"","format":"{{value}}km/h","min":"0","max":"100","colors":["#009a24","#eae200","#d90000"],"seg1":"","seg2":"","x":610,"y":460,"wires":[]},{"id":"14537b18.f07f05","type":"function","z":"336e6743.1c5aa8","name":"wind","func":"msg.payload = (msg.payload[0].wind*3.6).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["e5ba9cd1.130d9"]]},{"id":"dbaf1cc7.18b08","type":"function","z":"336e6743.1c5aa8","name":"weather","func":"msg.payload = msg.payload[0].weather;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":540,"wires":[["a3eccb28.b4f078"]]},{"id":"8138209e.0708f","type":"ui_gauge","z":"336e6743.1c5aa8","name":"","group":"ec4ab458.dc06e8","order":8,"width":4,"height":4,"gtype":"gage","title":"Rain over last 1h","label":"","format":"{{value}}mm","min":"0","max":"10","colors":["#8deafc","#00beff","#005bce"],"seg1":"","seg2":"","x":630,"y":500,"wires":[]},{"id":"70539656.18bb28","type":"function","z":"336e6743.1c5aa8","name":"rain","func":"msg.payload = msg.payload[0].rain;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["8138209e.0708f"]]},{"id":"a3eccb28.b4f078","type":"ui_text","z":"336e6743.1c5aa8","group":"ec4ab458.dc06e8","order":10,"width":4,"height":4,"name":"","label":"Weather description:","format":"{{msg.payload}}","layout":"col-center","x":640,"y":540,"wires":[]},{"id":"531406ce.fd5ac8","type":"function","z":"336e6743.1c5aa8","name":"date","func":"let date = new Date(msg.payload[0].time);\n// msg.payload = date.toUTCString();\ndate = date.toLocaleString().split('/');\n\ndate = [date[1], date[0], date[2]];\ndate = date.join('/');\n\nmsg.payload = date;\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["5856ffc7.f05c5","3d494599.1d136a"]]},{"id":"5856ffc7.f05c5","type":"ui_text","z":"336e6743.1c5aa8","group":"ec4ab458.dc06e8","order":3,"width":8,"height":1,"name":"","label":"Measurement time:","format":"{{msg.payload}}","layout":"row-center","x":630,"y":300,"wires":[]},{"id":"3d494599.1d136a","type":"debug","z":"336e6743.1c5aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"66a07764.424ec8","type":"function","z":"994e9296.324d2","name":"sampleChart","func":"msg.payload = [{\n    series: [\"A\", \"B\", \"C\"],\n    data: [\n        [{ x: 1589182636394, y: 5 },\n         { x: 1589182637394, y: 4 },\n         { x: 1589182638394, y: 2 }\n        ],\n        [{ x: 1589182636394, y: 6 },\n         { x: 1589182637394, y: 7 },\n         { x: 1589182638394, y: 6 }\n        ],\n        [{ x: 1589182636394, y: 2 },\n         { x: 1589182637394, y: 7 },\n         { x: 1589182638394, y: 7 }\n        ]\n    ],\n    labels: [\"A\", \"B\", \"C\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["d927e41f.f4cbe8"]]},{"id":"440c73db.d355cc","type":"debug","z":"994e9296.324d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":200,"wires":[]},{"id":"a9ef23b6.30652","type":"function","z":"994e9296.324d2","name":"sampleChart no time","func":"msg.payload = [{\n    \"series\": [\"X\", \"Y\", \"Z\" ],\n    \"data\": [ [5,6,9], [3,8,5], [6,7,2] ],\n    \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["2ccd3407.aadc4c"]]},{"id":"8649d486.251fc8","type":"debug","z":"994e9296.324d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":80,"wires":[]},{"id":"2ccd3407.aadc4c","type":"ui_chart","z":"994e9296.324d2","d":true,"name":"","group":"5af3a60c.abcdf8","order":6,"width":0,"height":0,"label":"Chart 2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No valid data received","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":80,"wires":[["8649d486.251fc8"]]},{"id":"457741e0.a270e","type":"ui_ui_control","z":"994e9296.324d2","name":"","events":"change","x":120,"y":80,"wires":[["a9ef23b6.30652"]]},{"id":"ca00bc54.c919a","type":"ui_chart","z":"386d0103.c88d1e","name":"Chart","group":"ac8a5a83.9671b8","order":6,"width":0,"height":0,"label":"{{msg.chartName}}","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No valid data received","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":120,"wires":[[]]},{"id":"b46c0f58.ebe03","type":"function","z":"994e9296.324d2","name":"sampleChart working","func":"msg.payload = [{\n    series: [\"A\"],\n    data: [\n        [{ x: Date.now(), y: 5 },\n         { x: Date.now()+1, y: 4 },\n         { x: Date.now()+2, y: 2 }\n        ]\n    ],\n    labels: [\"A\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["d749508d.a0fb2"]]},{"id":"2599351c.5e03ca","type":"debug","z":"994e9296.324d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":320,"wires":[]},{"id":"d749508d.a0fb2","type":"ui_chart","z":"994e9296.324d2","name":"Date.now()","group":"5af3a60c.abcdf8","order":6,"width":0,"height":0,"label":"Date.now()","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No valid data received","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":320,"wires":[["2599351c.5e03ca"]]},{"id":"a672a8a9.9ef618","type":"ui_ui_control","z":"994e9296.324d2","name":"","events":"change","x":120,"y":320,"wires":[["b46c0f58.ebe03"]]},{"id":"d927e41f.f4cbe8","type":"ui_chart","z":"994e9296.324d2","name":"Doc data","group":"5af3a60c.abcdf8","order":10,"width":0,"height":0,"label":"Doc data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":200,"wires":[["440c73db.d355cc"]]},{"id":"7d4e5279.0e50fc","type":"ui_ui_control","z":"994e9296.324d2","name":"","events":"change","x":120,"y":200,"wires":[["66a07764.424ec8"]]},{"id":"48f403be.c7c9fc","type":"change","z":"64acecee.fffbf4","name":"","rules":[{"t":"set","p":"chart","pt":"msg","to":"temp","tot":"str"},{"t":"set","p":"chartName","pt":"msg","to":"Temperature [°C]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["551e4ead.a9367"]]},{"id":"9b75d8e1.e59738","type":"function","z":"64acecee.fffbf4","name":"relay","func":"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":440,"wires":[["48f403be.c7c9fc","9807cd01.daafc"]]},{"id":"a9bdd180.69681","type":"link in","z":"cd194594.e26c88","name":"rawData","links":["3f3c333c.c95cbc"],"x":195,"y":240,"wires":[["a60e792.2a72288"]]},{"id":"a60e792.2a72288","type":"ui_table","z":"cd194594.e26c88","group":"c52bc0f0.321ba","name":"","order":7,"width":"20","height":"10","columns":[{"field":"time","title":"Time ","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp","title":"temp [°C]","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"tempFeel","title":"tempFeel [°C]","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"rain","title":"rain [mm/h]","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"wind","title":"wind [km/h]","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"humidity","title":"humidity [%]","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"city","title":"city","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":310,"y":260,"wires":[]},{"id":"ab58c865.f4fff8","type":"ui_template","z":"cd194594.e26c88","group":"c52bc0f0.321ba","name":"rawDataText","order":2,"width":"0","height":"0","format":"<div>\n    <p>The values in this table are the data selected on the \"Historical weather\" tab.</p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":330,"y":220,"wires":[[]]},{"id":"3f3c333c.c95cbc","type":"link out","z":"64acecee.fffbf4","name":"rawData","links":["a9bdd180.69681"],"x":675,"y":300,"wires":[]},{"id":"98b2a24b.e3425","type":"ui_button","z":"cd194594.e26c88","d":true,"name":"Info","group":"c52bc0f0.321ba","order":2,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Click to see table columns description.","color":"","bgcolor":"","icon":"info_outline","payload":"","payloadType":"str","topic":"","x":310,"y":160,"wires":[[]]},{"id":"9807cd01.daafc","type":"change","z":"64acecee.fffbf4","name":"","rules":[{"t":"set","p":"chart","pt":"msg","to":"tempFeel","tot":"str"},{"t":"set","p":"chartName","pt":"msg","to":"Perceived temperature [°C]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["31cc2cc2.1a4b14"]]},{"id":"1aa2bd2e.0cae73","type":"debug","z":"386d0103.c88d1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":60,"wires":[]},{"id":"551e4ead.a9367","type":"function","z":"64acecee.fffbf4","name":"formatChartData","func":"let chart = [{\n    \"series\": msg.citiesArray,\n    \"data\": [],\n    \"labels\": msg.citiesArray\n}];\n\nlet serie = [];\nlet previousCity = msg.payload[0].city;\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let entry = msg.payload[i];\n    if (entry.city === previousCity) {\n        let point = { \"x\": entry.time, \"y\": entry[msg.chart]};\n        serie.push(point);\n        if (i === msg.payload.length - 1) {\n            chart[0].data.push(serie);\n        }\n    } else {\n        chart[0].data.push(serie);\n        serie = [];\n        previousCity = entry.city;\n    }\n}\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["be1579e5.d37d48","ef7f7608.f8ea58"]]},{"id":"be1579e5.d37d48","type":"ui_chart","z":"64acecee.fffbf4","name":"Chart","group":"ac8a5a83.9671b8","order":6,"width":0,"height":0,"label":"{{msg.chartName}}","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No valid data received","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":380,"wires":[[]]},{"id":"ef7f7608.f8ea58","type":"debug","z":"64acecee.fffbf4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":320,"wires":[]},{"id":"31cc2cc2.1a4b14","type":"function","z":"64acecee.fffbf4","name":"formatChartData","func":"let chart = [{\n    \"series\": msg.citiesArray,\n    \"data\": [],\n    \"labels\": msg.citiesArray\n}];\n\nlet serie = [];\nlet previousCity = msg.payload[0].city;\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let entry = msg.payload[i];\n    if (entry.city === previousCity) {\n        let point = { \"x\": entry.time, \"y\": entry[msg.chart]};\n        serie.push(point);\n        if (i === msg.payload.length - 1) {\n            chart[0].data.push(serie);\n        }\n    } else {\n        chart[0].data.push(serie);\n        serie = [];\n        previousCity = entry.city;\n    }\n}\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":500,"wires":[["f50ce62b.af2c38","886c8faf.c438f"]]},{"id":"f50ce62b.af2c38","type":"ui_chart","z":"64acecee.fffbf4","name":"Chart","group":"ac8a5a83.9671b8","order":6,"width":0,"height":0,"label":"{{msg.chartName}}","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No valid data received","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":500,"wires":[[]]},{"id":"886c8faf.c438f","type":"debug","z":"64acecee.fffbf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":440,"wires":[]},{"id":"fa5bf86c.0327d8","type":"rbe","z":"cf49c5de.039b68","name":"filterNewDbEntries","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":170,"y":380,"wires":[[]]},{"id":"5a0501f4.61e53","type":"comment","z":"cf49c5de.039b68","name":"Outdated node used to add new entry to db only if values have changed","info":"","x":330,"y":340,"wires":[]}]